/* Theme colors */
.App-dark {
    background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
    overflow-y: scroll;
    overflow-x: hidden;
}

.App-light {
    background: linear-gradient(90deg, rgba(255, 128, 0, 0.9697128851540616) 0%, rgba(255, 183, 0, 1) 100%, rgba(255, 196, 0, 1) 100%);
    overflow-y: scroll;
    overflow-x: hidden;
}

.App-light .navbar {
    background: linear-gradient(90deg, rgba(255, 128, 0, 0.9697128851540616) 0%, rgba(255, 183, 0, 1) 100%, rgba(255, 196, 0, 1) 100%);
}

.App-dark .navbar {
    background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
}

.App-light .footer-light {
    background: linear-gradient(90deg, rgba(255, 128, 0, 0.9697128851540616) 0%, rgba(255, 183, 0, 1) 100%, rgba(255, 196, 0, 1) 100%);
}

.App-dark .footer-dark {
    background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
}

.App-light .glider {
    background-color: rgb(255 158 2);
}

.App-dark .glider {
    background-color: rgb(31 0 94);
}

.App-dark .about-videoCard {
    background-color: #8309c0;
}

.App-light .about-videoCard {
    background-color: #eb750f;
}

.App-dark .recreationalDance,
.App-dark .professionalDance {
    background-color: #522170;
}

.App-dark .recreationalDance:hover,
.App-dark .professionalDance:hover {
    background-color: #250d34;
}

.App-light .recreationalDance,
.App-light .professionalDance {
    background-color: #d77a0a;
}

.App-light .recreationalDance:hover,
.App-light .professionalDance:hover {
    background-color: #e88104;
}

.App-dark .container .btn::before .App-dark .container .btn::after {
    background: rgb(58, 8, 183);
}

.App-light .container .btn::before .App-light .container .btn::after {
    background: rgb(183, 81, 8);
}

.App-dark .container .btn:nth-child(1):before,
.App-dark .container .btn:nth-child(1)::after {
    background: #661eec;
    box-shadow: 0 0 5px #39166d,
        0 0 15px #39166d,
        0 0 30px #39166d,
        0 0 60px #39166d;
}

.App-light .container .btn:nth-child(1):before,
.App-light .container .btn:nth-child(1)::after {
    background: #ed761b;
    box-shadow: 0 0 5px #9f4311,
        0 0 15px #9f4311,
        0 0 30px #9f4311,
        0 0 60px #9f4311;
}

.App-dark .carousel {
    background-color: #53178e;
}

.App-light .carousel {
    background-color: #e2710f;
}

/* Background Mouse Follower */
.majorFollower {
    width: 300px;
    height: 300px;
    background: rgb(99, 99, 120);
    border-radius: 50%;
    position: absolute;
    will-change: transform;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 30%;
    z-index: 0;
    filter: blur(20px);
}

/* Navbar styles */

/* Toggle Switch */
.switch {
    position: absolute;
    display: inline-block;
    width: 64px;
    height: 34px;
    top: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: 1s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.switch:hover .sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.switch:hover .moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}

/* Nav styles */
.navbar {
    background: transparent !important;
    top: 35px;
    z-index: 10;
    position: fixed;
    width: 100%;
}

.navbar-nav {
    background: aliceblue;
    border-radius: 90px;
}

.nav-link {
    font-weight: 500;
    padding: 20px 34.5px !important;
    color: #161616;
    font-size: 15px;
}

.glider {
    position: absolute;
    display: flex;
    height: 63px;
    width: 150px;
    border-radius: 99px;
    transition: 0.4s ease-out;
}

.link-active {
    z-index: 1;
    border-radius: 30px;
    color: rgb(255 255 255 / 80%);
}

.nav-link:hover {
    color: rgb(255 255 255 / 80%);
}

/* Home styles */
.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.top-logo {
    position: fixed;
    top: 22%;
    left: 14%;
    width: 40%;
    height: 40%;
    z-index: 2;
}

.bottom-logo {
    position: fixed;
    bottom: 13%;
    right: 8%;
    width: 40%;
    height: 40%;
}

.video-box {
    position: fixed;
    top: calc(50% - 15%);
    left: calc(50% - 15%);
    width: 30%;
    height: 35%;
    z-index: 1;
}

.video-box video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
    opacity: 0.9;
    object-fit: cover;
}

/* VideoCard styles */
.videoCard {
    position: relative;
    top: 100vh;
    cursor: none;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.videoCard video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 180px;
    box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
    opacity: 0.9;
}

/* About Section styles */
.about-videoCard {
    position: relative;
    height: 100vh;
    top: 100vh;
}

.about-videoCard video {
    position: relative;
    top: 150%;
    width: 95%;
    left: 5%;
    height: 300%;
    object-fit: cover;
    border-radius: 300px;
    box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
    opacity: 0.9;
}

.about-text-section {
    position: relative;
    top: 0;
    height: 100vh;
    font-size: 42px;
    color: #fff;
    font-weight: 600;
    font-style: italic;
    padding: 30px;
    opacity: 0.8;
}

/* Split section styles */
.split-section {
    position: relative;
    height: 140vh;
}

.split-section>.col {
    padding: 40px;
    color: #fff;
    display: grid;
    justify-content: center;
}

.recreationalDance:hover>.splitSection-image>img,
.professionalDance:hover>.splitSection-image>img {
    border-radius: 300px;
    filter: blur(0px);
}

.recreationalDance>.splitSection-image>img,
.professionalDance>.splitSection-image>img {
    height: 600px;
    width: 600px;
    border-radius: 50px;
    filter: blur(5px);
    transition: all .3s ease-in;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
}

.container .btn {
    height: 60px;
    margin-bottom: 40px;
    position: relative;
    width: 200px;
}

.container .btn a {
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    z-index: 1;
    transition: 0.5s;
}

.container .btn:hover a {
    letter-spacing: 2px;
}

.container .btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,
            rgba(255, 255, 255, 0.15),
            transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.container .btn:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

.container .btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 10px;
    width: 30px;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.container .btn:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.container .btn::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    height: 10px;
    width: 30px;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.container .btn:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.container .btn:active a {
    color: #000;
}

/* Carousel styles */

.carousel {
    position: relative;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ambassador-slider {
    width: 45%;
    height: 32vw;
    perspective: 1600px;
    margin-top: 7%;
    transform-style: preserve-3d;
    /* Slider Functionality */
    /* Active Slide */
    /* Next Slide */
    /* Next to Next Slide */
    /* Previous to Previous Slide */
    /* Previous Slide */
}

.ambassador-slider .radiobtn {
    display: none;
}

.ambassador-slider label,
.ambassador-slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 400ms ease;
    border-top-right-radius: 2.6rem;
    border-bottom-left-radius: 2.6rem;
}

.ambassador-slider #s1:checked~#slide1,
.ambassador-slider #s2:checked~#slide2,
.ambassador-slider #s3:checked~#slide3,
.ambassador-slider #s4:checked~#slide4,
.ambassador-slider #s5:checked~#slide5,
.ambassador-slider #s6:checked~#slide6,
.ambassador-slider #s7:checked~#slide7 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(0%, 0, 0px);
}

.ambassador-slider #s1:checked~#slide2,
.ambassador-slider #s2:checked~#slide3,
.ambassador-slider #s3:checked~#slide4,
.ambassador-slider #s4:checked~#slide5,
.ambassador-slider #s5:checked~#slide6,
.ambassador-slider #s6:checked~#slide7,
.ambassador-slider #s7:checked~#slide1 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(20%, 0, -100px);
}

.ambassador-slider #s1:checked~#slide3,
.ambassador-slider #s2:checked~#slide4,
.ambassador-slider #s3:checked~#slide5,
.ambassador-slider #s4:checked~#slide6,
.ambassador-slider #s5:checked~#slide7,
.ambassador-slider #s6:checked~#slide1,
.ambassador-slider #s7:checked~#slide2 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(40%, 0, -250px);
}

.ambassador-slider #s1:checked~#slide4,
.ambassador-slider #s2:checked~#slide5,
.ambassador-slider #s3:checked~#slide6,
.ambassador-slider #s4:checked~#slide7,
.ambassador-slider #s5:checked~#slide1,
.ambassador-slider #s6:checked~#slide2,
.ambassador-slider #s7:checked~#slide3 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(60%, 0, -400px);
}

.ambassador-slider #s1:checked~#slide5,
.ambassador-slider #s2:checked~#slide6,
.ambassador-slider #s3:checked~#slide7,
.ambassador-slider #s4:checked~#slide1,
.ambassador-slider #s5:checked~#slide2,
.ambassador-slider #s6:checked~#slide3,
.ambassador-slider #s7:checked~#slide4 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(-60%, 0, -400px);
}

.ambassador-slider #s1:checked~#slide6,
.ambassador-slider #s2:checked~#slide7,
.ambassador-slider #s3:checked~#slide1,
.ambassador-slider #s4:checked~#slide2,
.ambassador-slider #s5:checked~#slide3,
.ambassador-slider #s6:checked~#slide4,
.ambassador-slider #s7:checked~#slide5 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(-40%, 0, -250px);
}

.ambassador-slider #s1:checked~#slide7,
.ambassador-slider #s2:checked~#slide1,
.ambassador-slider #s3:checked~#slide2,
.ambassador-slider #s4:checked~#slide3,
.ambassador-slider #s5:checked~#slide4,
.ambassador-slider #s6:checked~#slide5,
.ambassador-slider #s7:checked~#slide6 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(-20%, 0, -100px);
}

/* Footer Styles */
.footer {
    height: 100vh;
}

.socials-section {
    height: 30%;
    font-size: 30px;
    font-weight: 600;
    border-radius: 20px;
    opacity: 0.7;
    margin: 20px;
    color: #fff;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.089);
    transition: all .5s;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.youtube {
    background-color: #FF0000;
}

.facebook {
    background-color: #3b5998;
}

.socials-section:hover {
    transform: scale(1.1);
    opacity: 1;
}

.instagram:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.instagram:hover:after {
    transform: translateX(100%);
}

.youtube:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.youtube:hover:after {
    transform: translateX(100%);
}

.facebook:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.facebook:hover:after {
    transform: translateX(100%);
}