/* Theme colors */
.App-dark {
    background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
    overflow-y: scroll;
    overflow-x: hidden;
}

.App-light {
    background: linear-gradient(90deg, rgba(255, 128, 0, 0.9697128851540616) 0%, rgba(255, 183, 0, 1) 100%, rgba(255, 196, 0, 1) 100%);
    overflow-y: scroll;
    overflow-x: hidden;
}

.App-light .navbar {
    background: linear-gradient(90deg, rgba(255, 128, 0, 0.9697128851540616) 0%, rgba(255, 183, 0, 1) 100%, rgba(255, 196, 0, 1) 100%);
}

.App-dark .navbar {
    background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
}

.App-light .footer-light {
    background: linear-gradient(90deg, rgba(255, 128, 0, 0.9697128851540616) 0%, rgba(255, 183, 0, 1) 100%, rgba(255, 196, 0, 1) 100%);
}

.App-dark .footer-dark {
    background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
}

.App-light .glider {
    background-color: rgb(255 158 2);
}

.App-dark .glider {
    background-color: rgb(31 0 94);
}

.App-light .link-active {
    background-color: rgb(255 158 2);
    color: rgb(255 255 255 / 80%);
}

.App-dark .link-active {
    background-color: rgb(31 0 94);
    color: rgb(255 255 255 / 80%);
}

.App-dark .about-videoCard {
    background-color: #8524f4;
}

.App-light .about-videoCard {
    background-color: #eb750f;
}


/* Background Mouse Follower */
.majorFollower {
    width: 300px;
    height: 300px;
    background: rgb(99, 99, 120);
    border-radius: 50%;
    position: absolute;
    will-change: transform;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 30%;
    z-index: 0;
    filter: blur(20px);
}

/* Navbar styles */

/* Toggle Switch */
.switch {
    position: absolute;
    display: inline-block;
    width: 64px;
    height: 34px;
    top: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.switch:hover .sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.switch:hover .moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}

/* Nav styles */
.navbar {
    background: transparent !important;
    top: 35px;
    z-index: 10;
    position: fixed;
    width: 100%;
}

.navbar-nav {
    background: aliceblue;
    border-radius: 90px;
}

.nav-link {
    font-weight: 500;
    padding: 20px 34.5px !important;
    color: #161616;
    font-size: 15px;
}

.glider {
    position: absolute;
    display: flex;
    height: 63px;
    width: 150px;
    border-radius: 99px;
    transition: 0.4s ease-out;
}

.link-active {
    z-index: 1;
    border-radius: 30px;
}

.nav-link:hover {
    color: rgb(255 255 255 / 80%);
}

/* Home styles */
.home {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.top-logo {
    position: absolute;
    top: 22%;
    left: 14%;
    width: 40%;
    height: 40%;
    z-index: 2;
}

.bottom-logo {
    position: absolute;
    bottom: 13%;
    right: 8%;
    width: 40%;
    height: 40%;
}

.video-box {
    position: absolute;
    top: calc(50% - 15%);
    left: calc(50% - 15%);
    width: 30%;
    height: 35%;
    z-index: 1;
}

.video-box video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
    opacity: 0.9;
}

/* VideoCard styles */
.videoCard {
    top: 98vh;
    position: relative;
    cursor: none;
    height: 100vh;
}

.videoCard video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 180px;
    box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
    opacity: 0.9;
}

/* About Section styles */
.about-videoCard {
    position: relative;
    height: 100vh;
    top: 100vh;
}

.about-videoCard video {
    position: relative;
    top: 150%;
    width: 95%;
    left: 5%;
    height: 300%;
    object-fit: cover;
    border-radius: 300px;
    box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
    opacity: 0.9;
}

.about-text-section {
    font-size: 42px;
    color: #fff;
    font-weight: 600;
    font-style: italic;
    padding: 30px;
    opacity: 0.8;
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}