@font-face {
    font-family: 'helvetica';
    src: url(./components/assets/fonts/HelveticaNeue-Medium.woff) format('woff');
}

* {
    font-family: 'helvetica';
}

:root {
    --primary-gradient: radial-gradient(circle, rgba(243, 7, 7, 1) 0%, rgba(200, 38, 38, 1) 45%, rgba(163, 20, 20, 1) 100%);
    --primary-color-hover: rgb(209, 28, 28);
    --primary-color: rgb(255, 2, 2);
}

/* Theme colors */
.App,
.navbar,
.footer {
    background: var(--primary-gradient);
}

.nav-link:hover,
.recreationalDance:hover,
.professionalDance:hover {
    background-color: var(--primary-color-hover);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.about-videoCard,
.recreationalDance,
.professionalDance,
.crousel,
.container .btn::before,
.container .btn::after {
    background-color: var(--primary-color);
}

/* Background Mouse Follower */
.majorFollower {
    width: 300px;
    height: 300px;
    background: rgb(185, 20, 20);
    border-radius: 50%;
    position: absolute;
    will-change: transform;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 80%;
    z-index: 0;
    filter: blur(15px);
}

/* Navbar styles *
/* Nav styles */
.navbar {
    background: transparent !important;
    top: 35px;
    z-index: 10;
    position: fixed;
    width: 100%;
}

.navbar-nav {
    background: aliceblue;
    border-radius: 90px;
}

.nav-link {
    font-weight: 500;
    padding: 20px 34.5px !important;
    color: #161616;
    border-radius: 90px;
    font-size: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #fff;
    transition: all .8s linear;
}

.nav-link:hover {
    color: rgb(255 255 255 / 80%);
}

/* Home styles */
.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.top-logo {
    position: fixed;
    top: 22%;
    left: 14%;
    width: 40%;
    height: 40%;
    z-index: 2;
}

.bottom-logo {
    position: fixed;
    bottom: 13%;
    right: 8%;
    width: 40%;
    height: 40%;
}

.video-box {
    position: relative;
    top: 5%;
    left: 34%;
    width: 30%;
    height: 35%;
    z-index: 1;
}

.video-box video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
    opacity: 0.9;
    object-fit: cover;
}

/* VideoCard styles */
.videoCard {
    cursor: none;
    height: 110vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.videoCard video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 180px;
    box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
    opacity: 0.9;
}

/* About Section styles */
.about-videoCard {
    height: 100vh;
}

.video-section {
    padding: 40px;
    height: 100%;
}

.video-section video {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 300px;
    box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
    opacity: 0.9;
}

.text-section {
    font-size: 42px;
    color: #fff;
    height: 100%;
    font-weight: 600;
    font-style: italic;
    opacity: 0.8;
    padding: 30px;
}

/* Split section styles */
.split-section {
    height: 140vh;
    z-index: 1;
    position: relative;
}

.split-section>.col {
    padding: 40px;
    color: #fff;
    display: grid;
    justify-content: center;
}

.recreationalDance:hover>.splitSection-image>img,
.professionalDance:hover>.splitSection-image>img {
    border-radius: 300px;
    filter: blur(0px);
}

.recreationalDance>.splitSection-image>img,
.professionalDance>.splitSection-image>img {
    height: 600px;
    width: 600px;
    border-radius: 50px;
    filter: blur(5px);
    transition: all .3s ease-in;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
}

.container .btn {
    height: 60px;
    margin-bottom: 40px;
    position: relative;
    width: 200px;
}

.container .btn a {
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    z-index: 1;
    transition: 0.5s;
}

.container .btn:hover a {
    letter-spacing: 2px;
}

.container .btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,
            rgba(255, 255, 255, 0.15),
            transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.container .btn:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

.container .btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 10px;
    width: 30px;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.container .btn:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.container .btn::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    height: 10px;
    width: 30px;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.container .btn:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.container .btn:active a {
    color: #000;
}

/* Carousel styles */

.carousel {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ambassador-slider {
    width: 45%;
    height: 32vw;
    perspective: 1600px;
    margin-top: 7%;
    transform-style: preserve-3d;
    /* Slider Functionality */
    /* Active Slide */
    /* Next Slide */
    /* Next to Next Slide */
    /* Previous to Previous Slide */
    /* Previous Slide */
}

.ambassador-slider .radiobtn {
    display: none;
}

.ambassador-slider label,
.ambassador-slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 400ms ease;
    border-top-right-radius: 2.6rem;
    border-bottom-left-radius: 2.6rem;
}

.ambassador-slider #s0:checked~#slide0,
.ambassador-slider #s1:checked~#slide1,
.ambassador-slider #s2:checked~#slide2,
.ambassador-slider #s3:checked~#slide3,
.ambassador-slider #s4:checked~#slide4,
.ambassador-slider #s5:checked~#slide5,
.ambassador-slider #s6:checked~#slide6 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(0%, 0, 0px);
}

.ambassador-slider #s0:checked~#slide1,
.ambassador-slider #s1:checked~#slide2,
.ambassador-slider #s2:checked~#slide3,
.ambassador-slider #s3:checked~#slide4,
.ambassador-slider #s4:checked~#slide5,
.ambassador-slider #s5:checked~#slide6,
.ambassador-slider #s6:checked~#slide0 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(20%, 0, -100px);
}

.ambassador-slider #s0:checked~#slide2,
.ambassador-slider #s1:checked~#slide3,
.ambassador-slider #s2:checked~#slide4,
.ambassador-slider #s3:checked~#slide5,
.ambassador-slider #s4:checked~#slide6,
.ambassador-slider #s5:checked~#slide0,
.ambassador-slider #s6:checked~#slide1 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(40%, 0, -250px);
}

.ambassador-slider #s0:checked~#slide3,
.ambassador-slider #s1:checked~#slide4,
.ambassador-slider #s2:checked~#slide5,
.ambassador-slider #s3:checked~#slide6,
.ambassador-slider #s4:checked~#slide0,
.ambassador-slider #s5:checked~#slide1,
.ambassador-slider #s6:checked~#slide2 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(60%, 0, -400px);
}

.ambassador-slider #s0:checked~#slide4,
.ambassador-slider #s1:checked~#slide5,
.ambassador-slider #s2:checked~#slide6,
.ambassador-slider #s3:checked~#slide0,
.ambassador-slider #s4:checked~#slide1,
.ambassador-slider #s5:checked~#slide2,
.ambassador-slider #s6:checked~#slide3 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(-60%, 0, -400px);
}

.ambassador-slider #s0:checked~#slide5,
.ambassador-slider #s1:checked~#slide6,
.ambassador-slider #s2:checked~#slide0,
.ambassador-slider #s3:checked~#slide1,
.ambassador-slider #s4:checked~#slide2,
.ambassador-slider #s5:checked~#slide3,
.ambassador-slider #s6:checked~#slide4 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(-40%, 0, -250px);
}

.ambassador-slider #s0:checked~#slide6,
.ambassador-slider #s1:checked~#slide0,
.ambassador-slider #s2:checked~#slide1,
.ambassador-slider #s3:checked~#slide2,
.ambassador-slider #s4:checked~#slide3,
.ambassador-slider #s5:checked~#slide4,
.ambassador-slider #s6:checked~#slide5 {
    box-shadow: 0 -0.31rem 1.87rem #23324E;
    transform: translate3d(-20%, 0, -100px);
}

/* Footer Styles */
.footer {
    height: 100vh;
}

.socials-section {
    height: 30%;
    font-size: 30px;
    font-weight: 600;
    border-radius: 20px;
    opacity: 0.7;
    margin: 20px;
    color: #fff;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.089);
    transition: all .5s;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.youtube {
    background-color: #FF0000;
}

.facebook {
    background-color: #3b5998;
}

.socials-section:hover {
    transform: scale(1.1);
    opacity: 1;
}

.instagram:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.instagram:hover:after {
    transform: translateX(100%);
}

.youtube:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.youtube:hover:after {
    transform: translateX(100%);
}

.facebook:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.facebook:hover:after {
    transform: translateX(100%);
}