body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0em;
}

/* Theme Color changing */

.App-light .link-active {
  background: rgb(206, 134, 19);
}

.App-dark .link-active {
  background: rgb(0, 14, 58);
}

.App-dark .follower {
  background: rgb(0, 14, 58);
}

.App-light .follower {
  background: rgb(206, 134, 19);
}

.navbar-dark {
  background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
}

.navbar-light {
  background: linear-gradient(90deg, rgba(237, 161, 10, 1) 0%, rgba(188, 138, 25, 1) 45%, rgba(214, 167, 38, 1) 100%);
}

/* Navbar css */

#basic-navbar-nav {
  place-content: center;
}

.mouse-follower {
  position: relative;
  overflow: hidden;
}

.link-active {
  color: white;
  z-index: 1;
  border-radius: 30px;
}

.follower {
  width: 140px;
  height: 50px;
  color: white;
  border-radius: 30px;
  position: absolute;
  transform: translate(-327%, -123%);
  transition: left 0.1s ease;
}

.nav-link:hover {
  color: rgb(255 255 255 / 80%);
}

/* Background Mover */

.majorFollower {
  width: 300px;
  height: 300px;
  background-color: rgb(99, 99, 120);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 15%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 88.2);
  transition: opacity 0.3s ease;
}

/* Parallax styles */
.parallaxBg-dark {
  background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
  height: 100vh;
  width: 100vw;
}

.parallaxBg-light {
  background: linear-gradient(90deg, rgba(237, 161, 10, 1) 0%, rgba(188, 138, 25, 1) 45%, rgba(214, 167, 38, 1) 100%);
  height: 100vh;
  width: 100vw;
}

.parallax-1 {
  height: 665px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.top-logo {
  height: 315px;
  z-index: 2;
  position: relative;
  top: -50px;
  left: 30px;
  color: rgb(223 206 206);
}

.bottom-logo {
  height: 315px;
  position: relative;
  top: 95px;
  left: -37px;
  color: rgb(223 206 206);
}

.video-box {
  position: relative;
  height: 250px;
  width: 250px;
  top: -453px;
  left: 556px;
  border-radius: 20px;
  background-color: #a5a5a5;
}

/* ToggleSwitch css */
.switch {
  position: absolute;
  display: inline-block;
  width: 64px;
  height: 34px;
  top: 16px;
  right: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: #183153;
}

.input:focus+.slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
  transform: translateX(30px);
}

@media screen and (min-width: 768px) {

  /* NAVBAR STYLES FOR LAPTOP */

  .navbar {
    background-color: transparent !important;
    background: transparent !important;
    position: relative;
    z-index: 1;
  }

  .navbar-nav {
    background: aliceblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }

  .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    border-radius: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    position: relative;
  }
}