body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar css */

#basic-navbar-nav {
  place-content: center;
}

.navbar {
  background-color: transparent !important;
  position: fixed;
  top: 3%;
  left: 30%;
  z-index: 1;
}

@media screen and (min-width: 992px) {
  .navbar-nav {
    background: aliceblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }
}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  position: relative;
}

.mouse-follower {
  position: relative;
  overflow: hidden;
}

.link-active {
  background: yellow;
  color: white;
  z-index: 1;
  border-radius: 30px;
}

.follower {
  width: 140px;
  height: 50px;
  background-color: yellow;
  border-radius: 30px;
  position: absolute;
  transform: translate(-327%, -123%);
  transition: left 0.1s ease;
}

/* Background Mover */

.majorFollower {
  width: 300px;
  height: 300px;
  background-color: rgb(99, 99, 120);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 15%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 88.2);
  transition: opacity 0.3s ease;
}

/* Parallax styles */
.parallaxBg {
  background: #dbb20cf5;
  height: 100vh;
  width: 100vw;
}

.parallax-1 {
  height: 665px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.parallax-2 {
  height: 800px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}