body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0em;
}

.App-dark {
  background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
  height: 100%;
  width: 102vw;
}

.App-light {
  background: linear-gradient(90deg, rgba(255, 128, 0, 0.9697128851540616) 0%, rgba(255, 183, 0, 1) 100%, rgba(255, 196, 0, 1) 100%);
  height: 100%;
  width: 102vw;
}

/* Theme color styles */

.App-light .navbar {
  background: linear-gradient(90deg, rgba(255, 128, 0, 0.9697128851540616) 0%, rgba(255, 183, 0, 1) 100%, rgba(255, 196, 0, 1) 100%);
}

.App-dark .navbar {
  background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
}

.App-light .glider {
  background-color: rgb(255 158 2);
}

.App-dark .glider {
  background-color: rgb(31 0 94);
}

.App-light .link-active {
  background-color: rgb(255 158 2);
  color: rgb(255 255 255 / 80%);
}

.App-dark .link-active {
  background-color: rgb(31 0 94);
  color: rgb(255 255 255 / 80%);
}

/* Navbar css */
.navbar {
  z-index: 9;
}

.glider {
  position: absolute;
  display: flex;
  height: 50px;
  width: 150px;
  border-radius: 99px;
  transition: 0.4s ease-out;
}

#basic-navbar-nav {
  place-content: center;
}

.mouse-follower {
  position: relative;
  overflow: hidden;
}

.link-active {
  z-index: 1;
  border-radius: 30px;
}

.nav-link:hover {
  color: rgb(255 255 255 / 80%);
}

/* Background Mover */
.majorFollower {
  width: 300px;
  height: 300px;
  background: rgb(99, 99, 120);
  border-radius: 50%;
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 30%;
  z-index: -1;
  filter: blur(20px);
}

/* Parallax styles */
.homeBg-dark {
  background: linear-gradient(90deg, rgba(12, 8, 80, 1) 0%, rgba(59, 64, 138, 1) 44%, rgba(63, 77, 128, 1) 90%, rgba(63, 87, 150, 1) 100%);
  height: 100%;
  width: 100vw;
}

.homeBg-light {
  background: linear-gradient(90deg, rgba(255, 128, 0, 0.9697128851540616) 0%, rgba(255, 183, 0, 1) 100%, rgba(255, 196, 0, 1) 100%);
  height: 100%;
  width: 100vw;
}

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-logo,
.bottom-logo {
  position: absolute;
}

.video-box {
  height: 35%;
  width: 25%;
  position: absolute;
  top: 42%;
  left: 37%;
  border-radius: 20px;
  opacity: 70%;
}

.video-box video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
  opacity: 0.9;
}

/* ToggleSwitch css */
.switch {
  position: absolute;
  display: inline-block;
  width: 64px;
  height: 34px;
  top: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.switch:hover .sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.switch:hover .moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: #183153;
}

.input:focus+.slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
  transform: translateX(30px);
}

/* VideoCard styles */
.videoCard {
  width: 102vw;
  cursor: none;
}

.videoCard video {
  height: 750px;
  object-fit: cover;
  width: 100%;
  border-radius: 180px;
  box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
  opacity: 0.9;
}

/* About Section styles */

.about-videoCard video {
  height: 550px;
  object-fit: cover;
  width: 100%;
  border-radius: 180px;
  box-shadow: 6px 6px 12px #141414, -6px -6px 12px #120c0c;
  opacity: 0.9;
}

.about-text-section {
  font-size: 42px;
  color: #fff;
  font-weight: 600;
  font-style: italic;
  padding: 30px;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {

  /* NAVBAR STYLES FOR LAPTOP */
  .navbar {
    background: transparent !important;
    top: 35px;
    z-index: 10;
  }

  .navbar-nav {
    background: aliceblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }

  .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    border-radius: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    position: relative;
  }

  /* Home Styles for laptp */
  .top-logo {
    position: absolute;
    top: 25%;
    left: 12%;
    height: 40%;
  }

  .bottom-logo {
    position: absolute;
    top: 50%;
    left: 52%;
    height: 40%;
  }
}